Repository habberrih/manara, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, tests, area/auth, area/organizations, area/users, area/prisma, area/common, area/docs

.github/labeler.yml:

dependencies:
  - created-by: dependabot[bot]
  - title: '/^chore\(deps(.*)?\):/i'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'README.md'
          - 'docs/**'
          - 'CONTRIBUTING.md'
          - 'CODE_OF_CONDUCT.md'

tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'test/**'
          - 'tests/**'
          - '**/*.spec.ts'

area/auth:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/auth/**'

area/organizations:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/organization/**'

area/users:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/user/**'

area/prisma:
  - changed-files:
      - any-glob-to-any-file:
          - 'prisma/**'
          - 'src/prisma/**'

area/common:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/common/**'

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/core/**'
          - 'docs/pr-descriptions/**'

Update package.json
  package.json
Labels: none

feat: add HealthModule with controller and service
  src/health/health.module.ts
Labels: none

feat: implement HealthController with health check endpoint
  src/health/health.controller.ts
Labels: none

feat: add HealthService with database health check functionality
  src/health/health.service.ts
Labels: none

feat: add health types for health check functionality
  src/health/health.types.ts
Labels: none

feat: add public health suffix for health check endpoints
  src/common/constants/api.constants.ts
Labels: area/common

feat: exclude public health suffix from global API prefix
  src/main.ts
Labels: none

feat: add HealthModule to the application imports
  src/app.module.ts
Labels: none

style: apply prettier format
  src/health/health.service.ts
Labels: none

feat: add stripe dependency to package.json and package-lock.json
  package-lock.json
  package.json
Labels: none

feat: add SubscriptionPlan and PaymentEvent models to schema
  prisma/schema.prisma
Labels: area/prisma

feat: add migration for subscription_plans and payment_events tables
  prisma/migrations/20251031180906_add_subscriptions_plan_table/migration.sql
Labels: area/prisma

feat: implement SubscriptionsController for managing subscription plans and customers
  src/subscriptions/subscriptions.controller.ts
Labels: none

feat: create SubscriptionsModule for managing subscriptions and Stripe integration
  src/subscriptions/subscriptions.module.ts
Labels: none

feat: implement SubscriptionsService for managing Stripe subscriptions and plans synchronization
  src/subscriptions/subscriptions.service.ts
Labels: none

feat: add WebhookController for handling Stripe subscription webhooks
  src/subscriptions/webhook/webhook.controller.ts
Labels: none

feat: implement SubscriptionsWebhookService for handling Stripe webhook events
  src/subscriptions/webhook/webhook.service.ts
Labels: none

feat: add constants for Stripe client and webhook secret key
  src/subscriptions/subscriptions.constants.ts
Labels: none

feat: add plan limits configuration for subscription plans
  src/subscriptions/plan-limits.ts
Labels: none

feat: add PlanLimit decorator for managing plan limits metadata
  src/subscriptions/decorators/plan-limit.decorator.ts
Labels: none

feat: add EnsureCustomerResponseDto for customer ID management
  src/subscriptions/dto/ensure-customer-response.dto.ts
Labels: none

feat: implement PlanLimitGuard for managing plan limits based on organization context
  src/subscriptions/guards/plan-limit.guard.ts
Labels: none

feat: add SubscriptionsModule to the application module imports
  src/app.module.ts
Labels: none

feat: add PlanSyncOptions and SyncSummary types for subscription management
  src/subscriptions/types/index.ts
  src/subscriptions/types/plan-sync-options.type.ts
  src/subscriptions/types/sync-summary.type.ts
Labels: none

feat: add SyncPlansRequestDto and SyncPlansResponseDto for plan synchronization
  src/subscriptions/dto/sync-plans.dto.ts
Labels: none

feat: export EnsureCustomerResponseDto and SyncPlansDto from index file
  src/subscriptions/dto/index.ts
Labels: none

feat: create index file to export decorators, DTOs, and types for subscriptions
  src/subscriptions/index.ts
Labels: none

feat: add STRIPE_WEBHOOK_SUFFIX constant for subscription webhook handling
  src/common/constants/api.constants.ts
Labels: area/common

feat: update main.ts to include STRIPE_WEBHOOK_SUFFIX for webhook handling
  src/main.ts
Labels: none

feat: add SubscriptionsModule to OrganizationsModule imports
  src/organization/organizations.module.ts
Labels: area/organizations

feat: export constants from index file
  src/common/index.ts
Labels: area/common

feat: integrate PlanLimitGuard and add plan limit validation for API key creation
  src/organization/api-keys.controller.ts
Labels: area/organizations

docs: mark Stripe integration and webhook handlers as complete in tasks checklist
  docs/tasks.md
Labels: docs

chore: remove deprecated @types/helmet dependency
  package-lock.json
  package.json
Labels: none

chore: update documentation to reflect removal of AdminJS and changes to internal operations tooling
  README.md
  docs/core/project-sdr.md
  docs/core/project-structure.md
  docs/tasks.md
Labels: docs, area/docs

feat: add moduleNameMapper to TypeScript configuration for improved path resolution
  package.json
Labels: none

test: add unit tests for AuthController methods
  src/auth/auth.controller.spec.ts
Labels: tests, area/auth

test: add unit tests for UsersService methods
  src/user/user.service.spec.ts
Labels: tests, area/users

test: add unit tests for UsersController methods
  src/user/user.controller.spec.ts
Labels: tests, area/users

test: add unit tests for AuthService methods
  src/auth/auth.service.spec.ts
Labels: tests, area/auth
