Repository habberrih/manara, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, tests, area/auth, area/organizations, area/users, area/prisma, area/common, area/docs

.github/labeler.yml:

dependencies:
  - created-by: dependabot[bot]
  - title: '/^chore\(deps(.*)?\):/i'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'README.md'
          - 'docs/**'
          - 'CONTRIBUTING.md'
          - 'CODE_OF_CONDUCT.md'

tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'test/**'
          - 'tests/**'
          - '**/*.spec.ts'

area/auth:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/auth/**'

area/organizations:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/organization/**'

area/users:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/user/**'

area/prisma:
  - changed-files:
      - any-glob-to-any-file:
          - 'prisma/**'
          - 'src/prisma/**'

area/common:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/common/**'

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/core/**'
          - 'docs/pr-descriptions/**'

test: add unit tests for OrganizationsController and OrganizationsService
  src/organization/organizations.controller.spec.ts
  src/organization/organizations.service.spec.ts
Labels: tests, area/organizations

test: add unit tests for sensitive data redaction middleware
  src/common/middlewares/sensitive-data.middleware.spec.ts
  src/common/prisma/tenant-scope.middleware.spec.ts
Labels: tests, area/common

test: add unit tests for findManyAndCount function in prisma service
  src/common/prisma/find-many.spec.ts
  src/prisma/prisma.service.spec.ts
Labels: tests, area/prisma, area/common

test: add unit tests for SubscriptionsController and SubscriptionsService
  src/subscriptions/subscriptions.controller.spec.ts
  src/subscriptions/subscriptions.service.spec.ts
Labels: tests

test: add unit tests for TenantContextService
  src/tenant/tenant-context.service.spec.ts
Labels: tests

test: add unit tests for HealthController and HealthService
  src/health/health.controller.spec.ts
  src/health/health.service.spec.ts
Labels: tests

test: add unit tests for ApiKeysController
  src/organization/api-keys.controller.spec.ts
Labels: tests, area/organizations

test: add unit tests for WebhookController
  src/subscriptions/webhook/webhook.controller.spec.ts
Labels: tests

docs: correct hashing algorithm in Auth Module login/register task
  docs/tasks.md
Labels: docs

ci: add GitHub Actions workflow for running unit tests
  .github/workflows/test.yml
Labels: ci

ci: remove push trigger from GitHub Actions workflow
  .github/workflows/test.yml
Labels: ci

chore(package): run Jest tests in band mode for improved performance and reliability
  package.json
Labels: none

feat(prisma): enhance logging control based on environment settings
  src/prisma/prisma.service.ts
Labels: area/prisma

fix(tests): update Jest configuration for correct root directory and test regex
  test/jest-e2e.json
Labels: tests

test(users): add end-to-end tests for UsersController functionality
  test/users.e2e-spec.ts
Labels: tests

test(users): add integration tests for UsersService functionality
  test/users.service.e2e-spec.ts
Labels: tests

test(api-keys): add end-to-end tests for ApiKeysController functionality
  test/api-keys.e2e-spec.ts
Labels: tests

test(api-keys): add end-to-end tests for ApiKeysService functionality
  test/api-keys.service.e2e-spec.ts
Labels: tests

test(subscriptions): add end-to-end tests for SubscriptionsController functionality
  test/subscriptions.e2e-spec.ts
Labels: tests

test(subscriptions): add end-to-end tests for SubscriptionsService functionality
  test/subscriptions.service.e2e-spec.ts
Labels: tests

ci: add step to run end-to-end tests in CI pipeline
  .github/workflows/test.yml
Labels: ci

test(subscriptions): add end-to-end tests for SubscriptionsWebhookService functionality
  test/subscriptions-webhook.service.e2e-spec.ts
Labels: tests

test(subscriptions): add end-to-end tests for SubscriptionsWebhookController functionality
  test/subscriptions-webhook.e2e-spec.ts
Labels: tests

test(tenant-context): add end-to-end tests for TenantContextService functionality
  test/tenant-context.service.e2e-spec.ts
Labels: tests

test(prisma): add end-to-end tests for PrismaService lifecycle and logging
  test/prisma.service.e2e-spec.ts
Labels: tests

test(organizations): add end-to-end tests for OrganizationsController functionality
  test/organizations.e2e-spec.ts
Labels: tests

test(organizations): add end-to-end tests for OrganizationsService functionality
  test/organizations.service.e2e-spec.ts
Labels: tests

test(health): add end-to-end tests for HealthController functionality
  test/health.e2e-spec.ts
Labels: tests

test(auth): add end-to-end tests for AuthService functionality
  test/auth.service.e2e-spec.ts
Labels: tests

test(auth): add end-to-end tests for AuthController functionality
  test/auth.e2e-spec.ts
Labels: tests

test(app): refactor end-to-end tests for AppController integration
  test/app.e2e-spec.ts
Labels: tests

style: apply prettier format
  test/subscriptions-webhook.service.e2e-spec.ts
Labels: tests

chore: update README.md
  README.md
Labels: docs

refactor: rename job from 'unit' to 'test' in workflow configuration
  .github/workflows/test.yml
Labels: ci

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

fix: restore 'peer' property in multiple dependencies in package-lock.json
  package-lock.json
Labels: none

chore: change file permissions for husky hooks
  .husky/commit-msg
  .husky/pre-push
Labels: none

refactor: update Prisma dependencies and remove seed configuration
  package-lock.json
  package.json
Labels: none

refactor: update Prisma client provider and output configuration
  prisma/schema.prisma
Labels: area/prisma
