Repository habberrih/manara, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, tests, area/auth, area/organizations, area/users, area/prisma, area/helpers, area/docs

.github/labeler.yml:

dependencies:
  - created-by: dependabot[bot]
  - title: '/^chore\(deps(.*)?\):/i'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'README.md'
          - 'docs/**'
          - 'CONTRIBUTING.md'
          - 'CODE_OF_CONDUCT.md'

tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'test/**'
          - 'tests/**'
          - '**/*.spec.ts'

area/auth:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/auth/**'

area/organizations:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/organization/**'

area/users:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/user/**'

area/prisma:
  - changed-files:
      - any-glob-to-any-file:
          - 'prisma/**'
          - 'src/prisma/**'

area/helpers:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/helpers/**'

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/core/**'
          - 'docs/pr-descriptions/**'

feat: add GitHub labels configuration for issue categorization
  .github/labels.yml
Labels: none

feat: add pull request labeler workflow for automated labeling
  .github/workflows/pull-request-labeler.yml
Labels: ci

feat: add release workflow for automated versioning and artifact management
  .github/workflows/release-please.yml
Labels: ci

feat: add workflow for syncing GitHub labels from configuration file
  .github/workflows/sync-labels.yml
Labels: ci

feat: add CI workflow for linting, and building the project
  .github/workflows/ci-cd.yml
Labels: ci

feat: add Env Var Guard workflow for monitoring .env.example changes in pull requests
  .github/workflows/env-var-guard.yml
Labels: ci

style: format with prettier
  src/organization/organizations.controller.ts
  src/organization/organizations.module.ts
  src/tenant/tenant-context.service.ts
  src/user/user.controller.ts
Labels: area/organizations, area/users

chore: add format check and type check scripts to package.json
  package.json
Labels: none

refactor: streamline CI workflow by replacing direct commands with npm scripts for formatting and type checking
  .github/workflows/ci-cd.yml
Labels: ci
