Repository habberrih/manara, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, tests, area/auth, area/organizations, area/users, area/prisma, area/common, area/docs

feat: add Prisma configuration file after v7 upgrade
  prisma.config.ts
Labels: none

chore: add /prisma/generated to .gitignore
  .gitignore
Labels: none

refactor: update seed script to use PrismaPg adapter and adjust imports
  prisma/seed.ts
Labels: area/prisma

refactor: remove extensible Prisma type definition
  src/common/prisma/extensible.ts
Labels: area/common

refactor: remove PrismaExtensible and refactor middleware after v7 prisma
  src/common/middlewares/sensitive-data.middleware.ts
Labels: area/common

refactor: remove PrismaExtensible and add name property to the middleware
  src/common/middlewares/soft-delete.middleware.ts
Labels: area/common

refactor: remove PrismaExtensible dependency and update withOrganizationScope function
  src/common/prisma/tenant-scope.middleware.ts
Labels: area/common

refactor: upgrade Prisma service to use PrismaPg adapter and enhance middleware composition
  src/prisma/prisma.service.ts
Labels: area/prisma

refactor: remove export of extensible module from Prisma index
  src/common/prisma/index.ts
Labels: area/common

refactor: update User import path to use generated client
  src/auth/auth.controller.ts
Labels: area/auth

refactor: update OrgRole import path to use generated enums
  src/common/decorators/org-roles.decorator.ts
Labels: area/common

refactor: update Plan import path to use generated enums
  src/subscriptions/plan-limits.ts
Labels: none

refactor: update import paths for Prisma models to use generated client
  src/common/guards/organization-member.guard.ts
Labels: area/common

refactor: update Prisma import paths to use generated client
  src/common/pagination/pagination.interface.ts
  src/common/prisma/find-many.ts
  src/common/prisma/prisma-exception.filter.ts
Labels: area/common

refactor: update import paths to use generated Prisma client v7
  src/organization/api-keys.controller.ts
  src/organization/api-keys.service.ts
  src/organization/dto/create-organization.dto.ts
  src/organization/dto/invite-member.dto.ts
  src/organization/dto/update-membership.dto.ts
  src/organization/entities/membership.entity.ts
  src/organization/entities/organization.entity.ts
  src/organization/organizations.controller.ts
  src/organization/organizations.service.ts
  src/subscriptions/subscriptions.controller.ts
  src/subscriptions/subscriptions.service.ts
  src/subscriptions/webhook/webhook.service.ts
  src/user/user.controller.ts
  src/user/user.service.ts
Labels: area/organizations, area/users

chore: update start:prod script to use correct path for production build
  package.json
Labels: none

refactor: simplify client creation in sensitive-data and tenant-scope middleware tests
  src/common/middlewares/sensitive-data.middleware.spec.ts
  src/common/prisma/tenant-scope.middleware.spec.ts
Labels: tests, area/common

refactor: update mock implementations for soft delete, organization scope, and sensitive redaction in Prisma service tests
  src/prisma/prisma.service.spec.ts
Labels: tests, area/prisma

refactor: update import paths to use generated Prisma client v7
  src/organization/organizations.controller.spec.ts
  src/organization/organizations.service.spec.ts
  test/organizations.e2e-spec.ts
Labels: tests, area/organizations

refactor: update import paths for Plan enum to use generated Prisma client v7
  src/subscriptions/subscriptions.service.spec.ts
  test/subscriptions.service.e2e-spec.ts
Labels: tests

refactor: update import paths to use generated Prisma client v7
  test/auth.e2e-spec.ts
  test/organizations.service.e2e-spec.ts
Labels: tests

refactor: update mock implementations for PrismaService tests to align with Prisma client v7
  test/prisma.service.e2e-spec.ts
Labels: tests

fix: add Prisma client generation step to CI and test workflows
  .github/workflows/ci-cd.yml
  .github/workflows/test.yml
Labels: ci

chore: add DATABASE_URL environment variable for Prisma client generation in CI and test workflows
  .github/workflows/ci-cd.yml
  .github/workflows/test.yml
Labels: ci

.github/labeler.yml:

dependencies:
  - created-by: dependabot[bot]
  - title: '/^chore\(deps(.*)?\):/i'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'README.md'
          - 'docs/**'
          - 'CONTRIBUTING.md'
          - 'CODE_OF_CONDUCT.md'

tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'test/**'
          - 'tests/**'
          - '**/*.spec.ts'

area/auth:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/auth/**'

area/organizations:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/organization/**'

area/users:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/user/**'

area/prisma:
  - changed-files:
      - any-glob-to-any-file:
          - 'prisma/**'
          - 'src/prisma/**'

area/common:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/common/**'

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/core/**'
          - 'docs/pr-descriptions/**'
